*{ padding: 0; margin: 0; }
a{text-decoration: none;}
body
{
    background-image: url(images/fon.png);
    background-repeat: no-repeat;
    background-color: rgb(247, 247, 247);
}
.container-to
{
    max-width: 60%;
    margin: 0 auto;
}
.pd-5
{
    padding: 5px;
}
.pdt-5
{
    padding-top: 5px;
}
.pdr-10
{
    padding-right: 10px;
}
.pdl-5
{
    padding-left: 5px;
}
.pdl-30
{
    padding-left:  30px;
}
.pdt-20
{
    padding-top: 20px;
}
.mgl-30
{
    margin-left: 30px;
}
.mgt-5
{
    margin-top: 5px;
}
.mgt-15
{
    margin-top: 15px;
}
.mgt-30
{
    margin-top:30px
}
.mgt-20
{
    margin-top: 20px;
}
.mgt-30
{
    margin-top: 30px;
}
.mgt-40
{
    margin-top:40px;
}
.RR
{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
.RM
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.body-text
{
    color: #2F3044;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0;
}
.body-text__block-other
{
    color: #2F3044;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.body-div
{
    background-color: white;
    width: 80%;
    padding: 30px 20px;
    border-radius: 12px;
    box-sizing: content-box;
}
.progress {
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    background-color: #FFFFFF;
    width: 85%;
    border-radius: 17px;
    height: 20px;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
    width: 65%; 
    background-color: #0E52A0;
}
.body-text__block
{
    color: #B5B5C3;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
.block-div
{
    margin-top: 25px;
}
.block-div > div
{
    padding: 5px 0;
}
.dropbox-button1
{
    border: 0;
    margin-top: 5px;
    background-color: #F3F6F9;
    color: #0E52A0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border-radius: 4px;
    padding: 2px 3px 2px 4px;
}
.dropbox-button
{
    text-decoration: none;
    border:0;
    margin-top: 5px;
    background-color: #F3F6F9;
    color: #0E52A0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border-radius: 4px;
    padding: 2px 3px 2px 4px;
}
.dropbox-button__active{ border: 1px solid #0E52A0}
.dropbox-body
{
    padding: 1rem 1.25rem;
}
.dropbox-body > div 
{
    margin-top: 10px;
}
.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding:10px 7px 7px 10px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropbox-image__minus{ display: none;}
.dropbox-image__minus:active+.btn-outline-primary1, .dropbox-image__minus:checked+.dropbox-image__minus, .dropbox-image__minus.active, .dropbox-image__minus.dropdown-toggle.show, .dropbox-image__minus:active
{
   display: block;
}
.btn-outline-primary1:active+.btn-outline-primary1, .btn-check:checked+.btn-outline-primary1, .btn-outline-primary1.active, .btn-outline-primary1.dropdown-toggle.show, .btn-outline-primary1:active
{
    color: #eaecee;
    border: 1px solid #0E52A0;
    /* background-color: #0E52A0; */
}
.btn-outline-primary {
    color: #eaecee;
    border-color: #eaecee;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    /* background-color: #0E52A0;
    border-color: #0E52A0; */
    background-image: url(images/checkbox.png);
    /* transition: background-color .2s linear; */

}

.display-flex
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.display-flex > span
{
    color: #0E52A0;
    padding: 0 5px;
}

.rating-div > span 
{
    margin: 0 3px;
}

  .form-check-input {
    margin: 0 2px;
    width: 16px;
    height: 16px;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check-input:checked[type=radio] {
    background-image:url(images/checkraduis.png);
}
.textarea
{
    margin-top: 13px;
    resize: none;
    width: 300px;
    height: 100px;
    border: 1px solid #ECF0F3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
#other
{
    width: 60%;
}
#comments
{
    width: 70%;
    height: 160px;
}
.textarea-link
{
    margin-top: 13px;
    resize: none;
    width: 80%;
    height: 40px;
    border: 1px solid #ECF0F3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.button-adds
{
    color: #0E52A0;
    text-decoration-line: underline;
}
/* Dropdown Button */
.dropbtn {
    margin-top: 18px;
    background-color: white;
    color: #B5B5C3;
    padding: 16px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ECF0F3;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    min-width: 40%;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  

  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
  }
  

  .div-score
  {
    display: flex;
    flex-direction: column;
  }

  /* .dropdown {
    
  } */
  
  .dropdown-content {
    display: none;
    background-color: #ECF0F3;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: #B5B5C3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd}
  
 
  .show {display: block;}

  .collapse:not(.show) {
    display: none;
}


  /* media */

  @media (max-width:426px) {
    .body-div{ width: 100%;}
      
  }
  @media (max-width:769px) {
      .textarea
      {
          width: 232px;
      }
  }
